@model User

<form action="/Register" method="post">
    <label class="display-4 text-left">Register to this cool site!</label>
<br>
<br>
    <div class="row mb-4">
        <div class="col-4">
            <div class="form-outline">
                <input  class="form-control" asp-for="FirstName" />
                <label class="form-label" asp-for="FirstName" ></label>
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-outline">
                <input  class="form-control" asp-for="Password" />
                <label class="form-label" asp-for="Password" ></label>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <div class="form-outline">
                <input   class="form-control" asp-for="LastName" />
                <label class="form-label" asp-for="LastName" ></label>
                <span asp-validation-for="LastName"></span>

            </div>
        </div>
        <div class="col-4">
            <div class="form-outline">
                <input  class="form-control" asp-for="Confirm" />
                <label class="form-label" asp-for="Confirm" >Confirm Password</label>
                <span asp-validation-for="Confirm"></span>

            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4 col-5">
        <input  class="form-control" asp-for="Email"/>
        <label class="form-label" asp-for="Email" >Email address</label>
        <span asp-validation-for="Email"></span>
    </div>



    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up Now</button>

    
</form>