@model Message

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PeopleForPeople.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<header class="HEADER">
        <nav class="nav-head">
            <div class="container-fluid HEADER display-flex ">
                <a class="navbar-brand pfp vertical-align-bottom" asp-area="" asp-controller="Home" asp-action="HomePage">PFP</a>
                <div class="display-flex vertical-align-middle">
                    <a href="/Case/Add" class="navbar-brand pfp vertical-align-middle" id="createcase">Raport a Case</a>
                    <a href="/Logout" class="navbar-brand pfp "  id="inbox">
                        <i class="fa fa-inbox" ></i>
                    </a>
                    <a href="Logout" class="navbar-brand pfp "  id="logout">
                        <span class="glyphicon glyphicon-log-out" id="logout" ></span>
                    </a>
                </div>
                @* <a class="navbar-brand pfp" asp-area="" asp-controller="Home" asp-action="HomePage">PFP</a> *@
                
            </div>
        </nav>
</header>
<form action="Chat" method="post">
    <div class="display-flex">
         <textarea class="form-label" asp-for="MessageContent" name="MessageContent" cols="50" rows="1" placeholder="Type here..."></textarea>
         <button type="submit" >
            <i class="fa fa-send" ></i>
        </button>
    </div>
</form>
@* @foreach(var msg in ViewBag.Messages)
{
    <div>
        <p>@msg.MessageContent</p>
    </div>
} *@
